.toats{
    position: fixed;
    top: 40px;
    left: 47%;
    border: 1px solid rgb(202, 43, 3);
    background-color: rgb(179, 227, 201);
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}
.message{
    font-size: 18px;
    color: #000000;
    font-family: sans-serif;
}
.show{
    display: none;
}