.App{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
}
.headerr{
  width: 80%;
}
.bodyContent{
  display: flex;
  gap: 50px;
  width: 74%;
}
.left{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.right{
  width: 52%;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  margin-top: 40px;
  gap: 22px;
}
.rigt{
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.small{
  display: flex;
  gap: 18px;
}
button{
  cursor: pointer;
}
